@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-dropdown-menu {
    position: static;
    transform: none !important;
}

.icon-hovered {
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .hovered .icon-hovered {

    opacity: 1;
    
  }
  